@model MvcMovie.Models.Address

<h2>Contact</h2>
<h2>@ViewBag.Greeting World!</h2>
<address>
    @Model.Street<br>
    @Model.City, @Model.State @Model.PostalCode<br>
    <abbr title="Phone">P:</abbr> 425.555.0100
</address>